<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>760370914269-80h8jumf57lq0p1opg1s9gr590fsl70p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760370914269-80h8jumf57lq0p1opg1s9gr590fsl70p</string>
	<key>API_KEY</key>
	<string>AIzaSyCeq_frwSYv6XSARjfyRChCpsbY91dREXU</string>
	<key>GCM_SENDER_ID</key>
	<string>760370914269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zvoneiOS.MeetingScheduler</string>
	<key>PROJECT_ID</key>
	<string>meetingroom-a14bd</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingroom-a14bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760370914269:ios:e637806a70e5493f</string>
	<key>DATABASE_URL</key>
	<string>https://meetingroom-a14bd.firebaseio.com</string>
</dict>
</plist>